doctype html
html
    include includes/head.pug
    body
        script(src="../js/blog.js")
        include includes/navbar.pug
        section(id="main-section")
            div(id="app") {{ message }}
        include includes/footer.pug
			
	
