doctype html
html
    include includes/head.pug
body
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="../js/blog.js")
    include includes/navbar.pug
    section(id="main-section")
    include includes/footer.pug
			
	
