nav
	a(href="index.html"): span(id="welcome-text") Brocode
	a(href="timer.html"): button Timer
	a(href="goals.html"): button Goals
	a(href="blog.html"): button Blog
	a(href="wiki.html"): button Wiki

	
